* {
    box-sizing: border-box;
  }
  
  body { 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
      Arial, sans-serif;
    margin: auto;
    max-width: 38rem;
  }
  
  #top {
    text-align: center;
    background-color: aqua;
    font-size:3rem;
  }
  
  #navigation {
    background-color: lightblue;
    float: left;
    width: 30%;
    height: 24rem;
    text-align: center;
    padding: 20px;
  }
  
  #article {
    text-indent: 5%;
    float: left;
    width: 70%;
    height: 24rem;
    background: aquamarine;
    padding: 20px;
  }
  
  #footer {
    float: left;
    width: 100%;
    background-color: aliceblue;
    text-align: center;
  }
  
  