h1,
h2,
h3 {
  color: blue;
}

.no-bullets {
  list-style: none;
}

a:link {
  color: #1098ad;
  text-decoration: none;
}

a:visited {
  color: #1098ad;
}

a:hover {
  color: orangered;
  text-decoration: underline;
}

a:active {
  background-color: black;
}
