{{define "footer"}}<footer>
      <p>Copyright &copy; 2025 by <strong>
            <a class="email"
              href="https://mail.google.com/mail/?view=cm&fs=1&to=rjphares914@gmail.com" target="_blank" rel="noopener noreferrer"
              >Robert Phares</a
            >
          </strong></p>
    </footer>{{end}}