<!DOCTYPE html>
<html lang="en">
  {{template "head"}}
  <body>
    <div class="container">
      <header>
        {{template "nav"}}
      </header>
      {{template "section"}}
      <div class="footer-about">
        {{template "footer"}}
      </div>
    </div>
  </body>
</html>