<!DOCTYPE html>
<html lang="en">
  {{template "head"}}
  <body>
    <div class="container">
      <header>
        {{template "nav"}}
      </header>
      <section>
        <header>
        <h2 class="header-h2">Archive</h2>
        </header>
        {{template "slideshow"}}
        <ul>
        {{range .}}<li><a href="{{.Link}}">{{.Version}}: {{.Date}}</a>
        {{end}}
        </ul>
      </section>  
      <div class="footer-archive">
        {{template "footer"}}
      </div>
    </div>
    <script src="script.js"></script>
  </body>
</html>