{{define "nav"}}<nav>
        <a href="https://rjphares.github.io">Current Version</a>
        <a href="index.html">Home</a>
        <a href="archive.html">Archive</a>
        <a href="about.html">About</a>
      </nav>{{end}}